@media screen and (prefers-reduced-motion: reduce) {
	* {
		animation-duration: 0.001ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.001ms !important;
	}
}

@media print {
	.page-end {
		border-bottom: none;
	}
}

.prosemirror-page,
.unpaginated {
	padding-top: var(--editor-y-padding);
	padding-bottom: var(--editor-y-padding);
	padding-left: var(--editor-x-padding);
	padding-right: var(--editor-x-padding);
}

.prosemirror-page {
	height: var(--editor-height);
	width: var(--editor-width);
	border: 1px solid black;
}
